<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{{people.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="continer">
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/country/">Countries</a></li>
          </ul>
        </div>
        <div class="logo">
          <a href="/"
            ><div class="menu-open"><i class="fa-solid fa-bars"></i></div>
            <h1>W<span>o</span>rldClube</h1></a
          >
        </div>
        <div class="button">
          <a href="/account/sign_in/" class="sign-in">Login</a>
          <a href="/account/sign_up/" class="sign-up">Sign up</a>
        </div>
      </div>
    </div>
    <div class="continer post">
      <div class="top-img">
        
        {% if people.image %}
        <img src="{{ people.image.url }}" alt="1" />
      </div>
      <h3>POPULATION OF {{people.name}}</h3>
      <p>{{ people.description}}</p>
      <h3>COSTUMES OF {{people.name}}</h3>
      <p>{{ custom.description }}</p>
      <h3>EVENT IN {{people.name}}</h3>
      <p>{{ event.description }}</p>
      <div class="top-img">
        <img src="{{ people.image1.url }}" alt="2" />
      </div>
      <h3>{{people.name}} FOOD</h3>
      <p>{{ food.description }}</p>
      <div class="top-img">
        <img src="{{ people.image2.url }}" alt="3" />
      </div>
    </div>
    <footer>
      <h2>WorldClube</h2>
      <div class="soc">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        {% endif %}
      </div>
    </footer>
    <script>
      $(function () {
        $(".menu-open").click(function () {
          $("body").toggleClass("open-active");
        });
      });
    </script>
  </body>
</html>
