<!DOCTYPE html>
<html>
<head>
    <title>ٍLogin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/lohinc4.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class='header'>
    <div class="contine">
<div class="menu">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/country/">Countries</a></li>
</ul>
</div>
<div class="logo">
<a href="/"><div class="menu-open"><i class="fa-solid fa-bars"></i></div><h1>W<span>o</span>rldClube</h1></a>
</div>
<div class='button'>
<a href="/account/sign_in/" class="sign-up">log in</a>
<a href="/account/sign_up/" class="sign-up">Sign up</a>
</div></div>
</div>
<div class="continer">
    {% load static %}
    <div class="img-con">
        <img src="{% static 'img/1.png' %}" alt="img">
    </div>
    <div class="txt-con">
        <h3>Login</h3>
        <p class='pr'>Login to access your Golobe account</p>
        <div class="form">
            <form class="login-form">
            <div class='divInput'>
              <label>Email</label>
              <input type="email" placeholder="Type your email">
              </div>
              <div class='divInput'>
              <label>Password</label>
              <input type="password" placeholder="password"/>
            </div>
            <a href=""><div class="log-button">Login</div></a>
              <p class="message">Don’t have an account? <a href="/account/sign_up/">Sign up</a></p>
              
            </form>
          </div>
    </div>
</div>
<script>
    $(function(){$(".menu-open").click(function(){
        $("body").toggleClass("open-active");
    });
    });
    </script>
</body>
</html>